{% extends "base.html.twig" %}

{% block body %}

	<!-- banner part start-->
	<section class="banner_part">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<div class="banner_slider owl-carousel">
						<div class="single_banner_slider">
							<div class="row">
								<div class="col-lg-5 col-md-8">
									<div class="banner_text">
										<div class="banner_text_iner">
											<h1>Recycled Wind Turbines</h1>
											<p>Peak performance wind turbines for your home while also providing renewables materials</p>
											<a href="#" class="btn_2">buy now</a>
										</div>
									</div>
								</div>
								<div class="banner_img d-none d-lg-block A">
									<img src="img/wind_turbine.png" alt="">
								</div>
							</div>
						</div>
						<div class="single_banner_slider">
							<div class="row">
								<div class="col-lg-5 col-md-8">
									<div class="banner_text">
										<div class="banner_text_iner">
											<h1>Recycled Tidal turbines</h1>
											<p>Fitting tidal turbines for your home to reduce your bill</p>
											<a href="#" class="btn_2">buy now</a>
										</div>
									</div>
								</div>
								<div class="banner_img d-none d-lg-block">
									<img src="img/tidal_turbine.png" alt="">
								</div>
							</div>
						</div>
						<div class="single_banner_slider">
							<div class="row">
								<div class="col-lg-5 col-md-8">
									<div class="banner_text">
										<div class="banner_text_iner">
											<h1>Solar panels</h1>
											<p>An already established technology that was proven effective for domestic uses</p>
											<a href="#" class="btn_2">buy now</a>
										</div>
									</div>
								</div>
								<div class="banner_img d-none d-lg-block">
									<img src="img/solar_panel.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- banner part start-->

		<!-- subscribe_area part start-->
		<section class="subscribe_area section_padding">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-7">
						<div class="subscribe_area_text text-center">
							<h5>Join Our Newsletter</h5>
							<h2>Subscribe to get Updated with new offers</h2>
							<form class="input-group" method="post" action="{{ path('app_admin_newsletter_new') }}">
								<input type="email" class="form-control" placeholder="Enter your email" name="email" aria-label="Recipient's username" aria-describedby="button-addon2">
								<div class="input-group-append">
									<button class="input-group-text btn_2" type="submit" id="basic-addon2">Subscribe</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--::subscribe_area part end::-->

		<!-- feature_part start-->
		<section class="feature_part padding_top">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="section_tittle text-center">
							<h2>Featured Category</h2>
						</div>
					</div>
				</div>
				<div class="row align-items-center justify-content-between">
					<div class="col-lg-7 col-sm-6">
						<div class="single_feature_post_text">
							<p>Wind Powered</p>
							<h3>Latest Home Wind Turbines</h3>
							<a href="#" class="feature_btn">EXPLORE NOW
								<i class="fas fa-play"></i>
							</a>
							<img src="img/feature/wind_turbine_2.png" alt="">
						</div>
					</div>
					<div class="col-lg-5 col-sm-6">
						<div class="single_feature_post_text">
							<p>Sun Powered</p>
							<h3>Solar panels & alimentation</h3>
							<a href="#" class="feature_btn">EXPLORE NOW
								<i class="fas fa-play"></i>
							</a>
							<img src="img/feature/mobile_solar_generator.png" alt="">
						</div>
					</div>
					<div class="col-lg-5 col-sm-6">
						<div class="single_feature_post_text">
							<p>Water Powered</p>
							<h3>A New Way For Tidal Power</h3>
							<a href="#" class="feature_btn">EXPLORE NOW
								<i class="fas fa-play"></i>
							</a>
							<img src="img/feature/tidal_turbine_2.png" alt="">
						</div>
					</div>

				</div>
			</div>
		</section>

		<!-- awesome_shop start-->
		<section class="our_offer section_padding">
			<div class="container">
				<div class="row align-items-center justify-content-between">
					<div class="col-lg-6 col-md-6">
						<div class="offer_img">
							<img src="img/subm_sol_pump.png" alt="">
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="offer_text">
							<h2>Weekly Sale on 60% Off All Products</h2>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="enter email address" aria-label="Recipient's username" aria-describedby="basic-addon2">
								<div class="input-group-append">
									<a href="#" class="input-group-text btn_2" id="basic-addon2">book now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- awesome_shop part start-->

		<!-- product_list part start-->
		<section class="product_list best_seller section_padding">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="section_tittle text-center">
							<h2>Best Sellers</h2>
						</div>
					</div>
				</div>
				<div class="row align-items-center justify-content-between">
					<div class="col-lg-12">
						<div class="best_product_slider owl-carousel">
							<div class="single_product_item">
								<img src="img/product/wind_turbine_battery.png" alt="">
								<div class="single_product_text">
									<h4>Colloidal Battery</h4>
									<h3>150.00€</h3>
								</div>
							</div>
							<div class="single_product_item">
								<img src="img/product/solar_junction_box.png" alt="">
								<div class="single_product_text">
									<h4>Junction Box</h4>
									<h3>40.00€</h3>
								</div>
							</div>
							<div class="single_product_item">
								<img src="img/product/solar_panel_2.png" alt="">
								<div class="single_product_text">
									<h4>House Solar Panel Unit</h4>
									<h3>2000.00€</h3>
								</div>
							</div>
							<div class="single_product_item">
								<img src="img/product/solar_battery.png" alt="">
								<div class="single_product_text">
									<h4>Solar Battery</h4>
									<h3>2000.00€</h3>
								</div>
							</div>
							<div class="single_product_item">
								<img src="img/product/wind_turbine.png" alt="">
								<div class="single_product_text">
									<h4>Wind Turbine</h4>
									<h3>2000.00€</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- product_list part end-->

		<!-- awesome_shop start-->
		<section class="our_offer section_padding">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-7">
						<div class="subscribe_area_text text-center">
							<h5>Join Our Newsletter</h5>
							<h2>Subscribe to get Updated with new offers</h2>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="enter email address" aria-label="Recipient's username" aria-describedby="basic-addon2">
								<div class="input-group-append">
									<a href="#" class="input-group-text btn_2" id="basic-addon2">book now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- awesome_shop part end-->
	{% endblock %}
