{% extends "base.html.twig" %}

{% block body %}
	<div class="container mt-5">
		<div class="row justify-content-center">
			<img src="https://i.pinimg.com/originals/0e/c0/db/0ec0dbf1e9a008acb9955d3246970e15.gif" alt="404 funny gif">
			<div class="col-lg-7">
				<div class="text-center">
					<h3>You're too creative for us ! We searched high and low but couldn’t find what you’re looking for.</h3>
					<h3>Let’s find a better place for you to go.</h3>
					<a href="{{ path('home') }}" class="btn_2 mt-2">Go back home</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
